* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Fredoka+One&family=Hind&family=Montserrat&family=Noto+Sans+Mono&family=Roboto&family=Sofia&display=swap');
html {
  font-size: 10px;
}
